beautifulsoup4~=4.12.3
soupsieve~=2.4.1
pip~=24.0
attrs~=23.2.0
wheel~=0.38.4
tornado~=6.2
Jinja2~=3.1.3
pyzmq~=24.0.1
colorama~=0.4.6
aima~=2023.2.5
sortedcontainers~=2.4.0
numpy~=1.21.6
networkx~=2.6.3
ipythonblocks~=1.9.1
ipython~=7.34.0
parso~=0.8.4
jedi~=0.19.1
anyio~=3.7.1
sniffio~=1.3.1
setuptools~=65.5.1
pytz~=2024.1
cffi~=1.15.1
pandas~=1.1.5
python-dateutil~=2.8.2
psutil~=5.9.8
debugpy~=1.7.0
Django~=3.2.24
traitlets~=5.9.0
decorator~=5.1.1
pygments~=2.17.2
ipykernel~=6.16.2
packaging~=24.0
backcall~=0.2.0
pickleshare~=0.7.5
wcwidth~=0.2.13
gunicorn~=21.2.0
nbformat~=5.8.0
nbclient~=0.7.4
nbconvert~=7.6.0
fastjsonschema~=2.19.1
jsonschema~=4.17.3
requests~=2.31.0
notebook~=6.5.6
Send2Trash~=1.8.3
terminado~=0.17.1
nbclassic~=1.0.0
webencodings~=0.5.1
MarkupSafe~=2.1.5
pandocfilters~=1.5.1
bleach~=6.0.0
defusedxml~=0.7.1
mistune~=3.0.2
pycparser~=2.21
websocket-client~=1.6.1
pyrsistent~=0.19.3
idna~=3.6
zipp~=3.15.0
entrypoints~=0.4